.quicklook {
  display: inline-block;
  margin: 5px;
  padding: 10px 12px;
  width: auto;
  height: auto;
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1;
  color: #353535;
  text-decoration: none;
  background: #fff;
  border: 2px solid #000000;
  border-radius: 5px;
  box-shadow: 1px 2px #888888;
  transition: color .2s ease-in-out,background-color .2s ease-in-out;
}

.quicklook:hover {
  background: #808080;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
}
